div:hover {
    border: 3px solid rgb(0, 47, 255);
}

div:nth-of-type(1) {
  background-color: rgb(51, 134, 34);
  font-style: italic;
}

div:nth-of-type(2) {
  background-color: rgb(119, 14, 14);
}

div:nth-of-type(3) {
  background-color: rgb(33, 32, 122);
  font-style: italic;
  height: 50px;
}

div:nth-of-type(4) {
  background-color: grey;
}

div:nth-of-type(5) {
  background-color: rgb(168, 33, 150);
  font-style: italic;
}

div:nth-of-type(1) > h3 {
  color: rgb(99, 11, 11);
}

div:nth-of-type(2) > h3 {
  color: green 
}

div:nth-of-type(3) > h3 {
  color: rgb(255, 255, 255) 
}

div:nth-of-type(4) > h3 {
  color: rgb(87, 4, 73) 
}

div:nth-of-type(5) > h3 {
  color: rgb(53, 50, 50) 
}